body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(#ffafcc, #bde0fe);
}

#headerTitle {
    text-align: center;
    padding: 10px;
}

#contenedorFiltrosOrdenamiento{
    display: flex;
    /* cuando sea mobile display: block*/
    justify-content: space-between;
    padding: 20px 70px;
    border-top: 1px solid #8d99ae; /* Línea arriba del div */
    border-bottom: 1px solid #8d99ae; /* Línea abajo del div */
}

#estadisticas {
    padding-left: 70px;
}

#contenedorCards {
    padding: 10px 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tourist-site-item {
    width: 270px;
    height: 400px;
    list-style: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #ddd;
    border-radius: 10px;
    transition: transform 250ms;
}

li:hover {
    background-color: #3e8e41;
    color: white;
    transform: translateY(-10px);
  }

li div {
    font-weight: bold;
}

img {
    border-radius: 10px;
}

select {
    padding: 10px 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ef233c;
    transition: opacity 1.25;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

footer {
    text-align: right;
}

/* @media (max-width: 1250px) {
    body {
        background: red;
    }
} */
  